<h1> Reactive Form</h1>

<form [formGroup]="myRF" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="fname">Enter First Name </label>
        <input type="text" formControlName="fname" class="form-control">
        <small class="text-danger" *ngIf="!myRF.get('fname')?.valid && myRF.get('fname')?.touched">Please enter First
            Name</small>
    </div>
    <div class="form-group">
        <label for="lname">Enter last Name </label>
        <input type="text" formControlName="lname" class="form-control">
    </div>
    <div class="form-group">
        <label for="education">Select your Eductaion </label>
        <select formControlName="education" class="form-control">
            <option value="under-graduate">Under Graduate</option>
            <option value="graduate"> Graduate</option>
            <option value="Post-graduate">Post Graduate</option>
            <option value="doctoral">Doctoral</option>
        </select>
    </div>
    <button>Submit</button>
</form>