<p>header works!</p>

<div class="container bg-gradient text-center col-4 offset-4">
    <h3>Fill in the Details </h3>


    Information Saved With us :
    <table class=" table-striped col-4 offset-5">
        <tr>
            <td>First Name </td>
            <td></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>

    </table>
</div>